<app-side-bar [isOpen]="isSidebarOpen" (closed)="isSidebarOpen = false"></app-side-bar>
<!------------HEADER ------------->
<div class="header">
  <div class="left-section">
    <button (click)="isSidebarOpen = !isSidebarOpen" class="sidebar-toggle-btn" >
      <span class="icon">☰</span> 
    </button>
    <a routerLink="" class="logo" style="color: white; text-decoration: none; margin-top: 5px;">NANA AUTO</a>
  </div>
  <app-search></app-search>
  <div class="right-section">
    <a routerLink="pocetna" class="header-icon" title="Početna">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          viewBox="0 0 24 24">
        <path d="M4 12L12 4l8 8" />
        <path d="M4 12v8a2 2 0 0 0 2 2h3v-6h6v6h3a2 2 0 0 0 2-2v-8" />
      </svg>
    </a>
    <a routerLink="korpa"><app-korpa-ikona></app-korpa-ikona></a>
    <a routerLink="registracija" class="header-icon" title="Profil">
      <svg width="32" height="32" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        viewBox="0 0 24 24">
        <path d="M20 21v-2a4 4 0 0 0-3-3.87"/>
        <path d="M4 21v-2a4 4 0 0 1 3-3.87"/>
        <circle cx="12" cy="7" r="4"/>
      </svg>
    </a>
  </div>
</div>

<div class="content" >
  <router-outlet></router-outlet>
</div>

<!------------FOOTER ------------->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <h2 class="footer-logo">NANA AUTO</h2>
      <p class="footer-description">
        NANA AUTO je porodična prodavnica auto delova iz Ćuprije, osnovana 2002. godine. 
        Nudimo delove za Fiat, Ford, BMW, Mercedes, Opel i VW, uz dostavu širom Srbije. 
        Naš tim stručnjaka sa 30+ godina iskustva tu je da vam pomogne pri svakom izboru.
      </p>
    </div>

    <div class="footer-right">
      <div class="footer-contact">
        <p><strong>Email:</strong> <a href="mailto:nanaauto@gmail.com"> nanaauto&#64;gmail.com</a></p>
        <p><strong>Telefon:</strong> <a href="tel:+381605556979">+381 60 555 6979</a></p>
        <p><strong>Adresa:</strong> Kneza Milosa 45, Cuprija</p>
      </div>

      <div class="footer-socials">
        <a href="https://facebook.com" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://youtube.com" target="_blank" aria-label="YouTube">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 NANA AUTO. Sva prava zadržana.</p>
  </div>
</footer>





