<app-side-bar [isOpen]="isSidebarOpen" (closed)="isSidebarOpen = false"></app-side-bar>
<!------------HEADER ------------->
<div class="header">
  <div class="left-section">
    <button (click)="isSidebarOpen = !isSidebarOpen" class="sidebar-toggle-btn">
      <span class="icon">☰</span>
    </button>
    <a routerLink="" class="logo" style="color: white; text-decoration: none; margin-top: 5px;">NANA AUTO</a>
  </div>

  <!-- SEARCH prikazuje se samo ako korisnik NIJE admin -->
  <app-search *ngIf="userRole !== 'ADMIN'"></app-search>

  <div class="right-section">

    <!-- Početna stranica (uvek) -->
    <a *ngIf="userRole !== 'ADMIN'" routerLink="pocetna" class="header-icon tooltip-container" title="Početna">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        viewBox="0 0 24 24">
        <path d="M4 12L12 4l8 8" />
        <path d="M4 12v8a2 2 0 0 0 2 2h3v-6h6v6h3a2 2 0 0 0 2-2v-8" />
      </svg>
      <span class="tooltip-text">Pocetna</span>
    </a>

    <!-- KORPA (samo za kupca) -->
    <a *ngIf="userRole !== 'ADMIN'" routerLink="korpa" class="tooltip-container">
      <app-korpa-ikona></app-korpa-ikona>
      <span class="tooltip-text">Korpa</span>
    </a>

    <!-- LINK KA PROFILU (različit za kupca i neulogovanog) -->
    <a *ngIf="userRole !== 'ADMIN'" [routerLink]="userRole === 'KUPAC' ? '/profil' : '/login'" class="header-icon tooltip-container" title="Profil">
      <svg width="32" height="32" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        viewBox="0 0 24 24">
        <path d="M20 21v-2a4 4 0 0 0-3-3.87" />
        <path d="M4 21v-2a4 4 0 0 1 3-3.87" />
        <circle cx="12" cy="7" r="4" />
      </svg>
        <span class="tooltip-text">
          {{ isLoggedIn() ? 'Profil' : 'Prijavi se' }}
        </span>
    </a>

    <!-- IKONICE ZA ADMINA -->
    <ng-container *ngIf="userRole === 'ADMIN'">
      <a routerLink="/vlasnik/pocetna" class="header-icon tooltip-container" title="Početna">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="none"
          stroke="#00bfff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
          viewBox="0 0 24 24">
          <path d="M4 12L12 4l8 8" />
          <path d="M4 12v8a2 2 0 0 0 2 2h3v-6h6v6h3a2 2 0 0 0 2-2v-8" />
        </svg>
        <span class="tooltip-text">Pocetna</span>
      </a>
      <a [routerLink]="'/vlasnik/aktivne-porudzbine'" class="admin-icon tooltip-container">
        <img src="vlasnik/package.png" alt="Aktivne">
        <span class="tooltip-text">Nove porudzbine</span>
      </a>
      <a [routerLink]="'/vlasnik/finansije'" class="admin-icon tooltip-container">
        <img src="vlasnik/bar-chart.png" alt="Finansije">
        <span class="tooltip-text">Finansije</span>
      </a>
      <a [routerLink]="'/vlasnik/lager'" class="admin-icon tooltip-container">
        <img src="vlasnik/warehouse.png" alt="Lager">
        <span class="tooltip-text">Lager</span>
      </a>
      <a [routerLink]="'/vlasnik/dodaj-artikal'" class="admin-icon tooltip-container">
        <img src="vlasnik/basket.png" alt="Dodaj">
        <span class="tooltip-text">Dodaj artikal</span>
      </a>
      <a [routerLink]="'/profil'" class="header-icon tooltip-container" title="Profil">
        <svg width="35" height="35" fill="none" stroke="#00bfff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
          viewBox="0 0 24 24">
          <path d="M20 21v-2a4 4 0 0 0-3-3.87" />
          <path d="M4 21v-2a4 4 0 0 1 3-3.87" />
          <circle cx="12" cy="7" r="4" />
        </svg>
        <span class="tooltip-text">Profil</span>
      </a>
    </ng-container>

  </div>
</div>


<div class="content" style="padding-bottom: 50px;">
  <router-outlet></router-outlet>
</div>

<!------------FOOTER ------------->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <h2 class="footer-logo">NANA AUTO</h2>
      <p class="footer-description">
        NANA AUTO je porodična prodavnica auto delova iz Ćuprije, osnovana 2002. godine. 
        Nudimo delove za Fiat, Ford, BMW, Mercedes, Opel i VW, uz dostavu širom Srbije. 
        Naš tim stručnjaka sa 30+ godina iskustva tu je da vam pomogne pri svakom izboru.
      </p>
    </div>

    <div class="footer-right">
      <div class="footer-contact">
        <p><strong>Email:</strong> <a href="mailto:nanaauto@gmail.com"> nanaauto&#64;gmail.com</a></p>
        <p><strong>Telefon:</strong> <a href="tel:+381605556979">+381 60 555 6979</a></p>
        <p><strong>Adresa:</strong> Kneza Milosa 45, Cuprija</p>
      </div>

      <div class="footer-socials">
        <a href="https://facebook.com" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://youtube.com" target="_blank" aria-label="YouTube">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 NANA AUTO. Sva prava zadržana.</p>
  </div>
</footer>





