.card {
  width: 210px;
  height: 320px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 8px 20px rgba(240, 238, 238, 0.545);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 30px;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 0 16px 30x rgba(58, 156, 218, 0.436); /* Plava senka na hover */
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 100%;
  aspect-ratio: 1 / 1;       /* Kvadratni oblik slike */
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card:hover .card-image {
  transform: scale(1.2);      /* Zumiranje slike na hover */
}

.text-title {
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #222;
  text-align: center;
}
.card:hover .text-title {
  font-size: 1.3rem;            /* Plava boja teksta na hover */
}

.card-button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  background-color: #00bfff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card:hover .card-button {
  transform: translate(-50%, 0);
  opacity: 1;                 /* Dugme se pojavljuje na hover */
}
