<!-- From Uiverse.io by Pawelitto -->
<div class="container" (click)="Poruci()">
  <div class="left-side">
    <div class="card">
      <div class="card-line"></div>
      <div class="buttons"></div>
    </div>
    <div class="post">
      <div class="post-line"></div>
      <div class="screen">
        <div class="dollar">$</div>
      </div>
      <div class="numbers"></div>
      <div class="numbers-line2"></div>
    </div>
  </div>
  <div class="right-side">
    <div class="new">Checkout</div>
  </div>
</div>
