/* Centriranje forme u Angular komponenti */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Postavljanje na gornju ivicu */
  height: auto; /* Visina se prilagođava sadržaju */
  width: 850px;

}

/* Forma */
.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 550px;
  padding: 20px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 50px;
  border-radius: 20px;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/* Naslov */
.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  color: #00bfff;
  text-align: center;
  justify-content: center;
}

/* Poruke */
.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

/* Polja */
.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 10px 10px 5px 10px;
  outline: none;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}



/* Uklanja strelice u <input type="number"> za sve pretraživače */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Ostali pretraživači */
}

/* Stilizovanje select polja da izgleda kao input */
.form label select {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 10px 10px 5px 10px;
  outline: none;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-size: medium;
  appearance: none; /* Uklanja default izgled za select */
  -webkit-appearance: none; /* Za Safari i Chrome */
  -moz-appearance: none; /* Za Firefox */
}

/* Pozicioniranje tekstualne oznake (span) za select polje */
.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

/* Stilizovanje scroll bara unutar <select> opcije */
select {
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-size: medium;
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
select::-webkit-scrollbar {
  width: 8px; /* širina scrollbar-a */
}

select::-webkit-scrollbar-thumb {
  background-color: #222; /* boja scroll bar-a */
  border-radius: 10px;
}

select::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* boja scroll bar-a kada je hover */
}

select::-webkit-scrollbar-track {
  background-color: #555; /* boja pozadine scroll bar-a */
  border-radius: 10px;
}


