<div style="padding: 0;">
  <app-carousel></app-carousel>

  <div class="brand-wrapper">
    <div class="brand-header">
      <h2>Vrhunski brendovi, bez kompromisa</h2>
      <p>
        Naša prodavnica ponosno nudi originalne auto delove za vodeće svetske brendove.
        Bilo da vozite nemački klasik, italijanski gradski auto ili američku ikonu – kod nas ćete pronaći sve što vam je potrebno.
      </p>
    </div>
    <div class="brand-section">
      <div class="brand-card" *ngFor="let brand of brands; let i = index" #cardRef [style.--delay]="i * 0.2 + 's'" >
        <img [src]="brand.logo" alt="{{ brand.name }} logo" class="brand-image" />
        <div class="brand-content">
          <h3>{{ brand.name }}</h3>
          <p>{{ brand.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <app-najprodavaniji></app-najprodavaniji>
  <div class="container mt-4">
    <div class="row g-3">
      <div *ngFor="let g of grupe"
        class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center">
        <app-grupa-card [grupa]="g"></app-grupa-card>
      </div>
    </div>
  </div>

  <app-uputstvo></app-uputstvo>
  <app-kontakt></app-kontakt>
</div>