<section class="contact-section">
  <div class="contact-map-row">
    <div class="contact-info reveal">
      <h3>Kontakt informacije</h3>
      <p>Adresa: Kneza Milosa 45, Cuprija</p>
      <p>Telefon: +381 642601665</p>
      <a href="mailto:nanaauto@gmail.com">Mail: nanaauto&#64;gmail.com</a>

      <div class="working-hours">
        <h4>Radno vreme</h4>
        <p>Pon-Pet: 08:00 - 18:00</p>
        <p>Sub: 09:00 - 14:00</p>
        <p>Ned: Zatvoreno</p>
      </div>
    </div>

    <div class="map-container reveal">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d718.395324639842!2d21.372117869606846!3d43.926641964095325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4756bf5b332ff191%3A0xd464c81daa09817a!2z0JrQvdC10LfQsCDQnNC40LvQvtGI0LAgNDUsINCL0YPQv9GA0LjRmNCwIDM1MjMw!5e0!3m2!1ssr!2srs!4v1749079454848!5m2!1ssr!2srs" 
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </div>
  </div>

  <!-- <div class="contact-form reveal">
    <h3>Pošaljite nam poruku</h3>
    <form>
      <input type="text" placeholder="Ime i prezime" />
      <input type="email" placeholder="Email" />
      <textarea rows="4" placeholder="Vaša poruka"></textarea>
      <button type="submit">Pošalji</button>
    </form>
  </div> -->
</section>

