<div class="container">
  <h2 class="title">Najprodavaniji proizvodi</h2>
  <div class="slider-wrapper">
    <button class="nav left" (click)="scroll(-1)">‹</button>

    <div class="cards" #cardContainer>
      <div class="card fade-in" *ngFor="let p of bestSellers">
        <div class="image-wrapper">
          <img [src]="'http://localhost:8080/slika/podgrupa/' + formatPodVrsta(p.podVrsta)"
               [alt]="p.naziv" />
          <div class="image-overlay"></div>
        </div>
        <div class="info">
          <h3 title="{{ p.naziv }}"><a [routerLink]="['/artikal', p.id]" class="text-title">{{p.naziv}}</a></h3>
          <p>{{ p.vrsta }} / {{ p.podVrsta }}</p>
          <p>{{ p.marka }} – {{ p.proizvodjac }}</p>
        </div>
      </div>
    </div>

    <button class="nav right" (click)="scroll(1)">›</button>
  </div>
</div>



